*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}


section{
    background-color: #d62a2a;
}


  .btn-rosa {
    background-color: var(--rosa);
    color: var(--blanco);
    border: none;
  }

  .btn-blanco {
    background-color: var(--blanco);
    color: var(--rosa);
    border: none;
  }

  .btn-negro {
    background-color: var(--negro);
    color: var(--blanco);
    border: none;
  }

  .btn-gris {
    background-color: var(--gris);
    color: var(--blanco);
    border: none;
  }

  :root {
    --rosa: #e74c3c;
    --blanco: #fff;
    --negro: #000;
    --gris: #333333;
  }

@media screen and (max-width: 768px) {
  .parallax {
    background-attachment: scroll;
  }
}

.logo {
  background-image: url('./imagenes/logo.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 200px;
}
.letras {
  font-size: 2em;








  animation: move-right 3s ease-in-out  forwards;
}

@keyframes move-right {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}

.letras_principal {
  font-size: 8em;








  animation: move-right 3s ease-in-out  forwards;
}

@keyframes move-right {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}

.contenedor{
  background-color: rgb(181, 53, 53);   ;}

  
  .transition {
      transition: all 0.3s ease-in-out;
  }

  .transition:hover {
      transform: scale(1.05);
  }

  .fade-in {
      animation: fade-in 2s;
  }
  @keyframes fade-in {
      0% {
          opacity: 0;
      }
      100% {
          opacity: 1;
      }
  }
  .parallax_index {

      background-image: url("../imagenes/parallax_2.jpg");
  
   
      height: 500px;
  
   
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .parallax {
    
      background-image: url("./imagenes/hollow.jpeg");

     
      height: 500px; 

      
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }